<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить новую книгу</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <div><label style="font-size: x-large" for="title">Введите название книги: </label>
    <input type="text" th:field="*{title}" id="title"/>
    </div>
    <div><label style="font-size: x-large" for="author">Введите имя автора: </label>
        <input type="text" th:field="*{author}" id="author"/>
    </div>
    <div><label style="font-size: x-large" for="year">Введите год: </label>
        <input type="text" th:field="*{year}" id="year"/>
    </div>
    <br>
    <input style="font-size: x-large" type="submit" value="Сохранить книгу"/>
</form>
</body>
</html>