<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница книги</title>
</head>
<body>
<p style="color: darkslategray" th:text="${book.getAuthor()}"/>
<p style="color: darkslategray" th:text="${book.getTitle()} + ', ' + ${book.getYear()}"/>
<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Перейти на страницу редактирования --></a>
<br>
<hr>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <input type="submit" value="Удалить книгу"/>
</form>



</body>
</html>